body{
    font family:Arial, Helvetice,sans-serif;
}

form{
      margin:auto;
      width:500px;

      padding:1em;
      /* border:1px solid #ccc; */
      /* border-radius:1em; */
}

input[type=text],input[type=Password]{
      width:100%;
      padding:12px 20px;
      margin:10px 0;
      display: inline-block;
      border:1px solid #92493a opacity:0.5;

      box-sizing:border-box;
}

button{
      background-color:Grey;
      color: white;
      padding:14px 20px;
      margin:8px 0;
      border:none;
      cursor:pointer;
      width:100%;
}

button:hover{
      opacity:0.8;
}

.cancelbtn{
      width:auto;
      padding:10px 15px;
      background-color: #f44336;
}

.imgcontainer{
      text-align:center;
      margin:24px 0 12px 0;
}

img.avatar{
      width:40%;
      border-radius:50%;
}

.container{
      padding:16px;
}

span.psw{
      float:right;0
      padding:16px;
}
